<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craftsy</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/e4646141a1.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="home__header--box">
        <nav class="home__header--nav">
            <div class="home__header--nav-box1">
                <i class="fa-solid fa-bars"></i>
                <img src="/img/logo.png" alt="imagen logo">
                <ul>
                    <li><a href="#">smartphones</a></li>
                    <li><a href="#">tablets</a></li>
                    <li><a href="#">computadoras</a></li>
                </ul>
            </div>
            <div class="home__header--nav-box2">
                <ul>
                    <li><a href="#">login</a></li>
                    <li><a href="#">registro</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="main__section--container">
            <div class="section__container--box">
                <article>
                    <img src="/img/img-phone-01.jpg" alt="">
                    <div class="section__container--box-text">
                        <h3>Nombre del Producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae exercitationem neque quae, beatae vero laboriosam culpa laborum magni repellat quaerat totam.</p>
                        <input type="button" value="VER MÁS">
                    </div>
                </article>
                <article>
                    <img src="/img/img-phone-02.jpg" alt="">
                    <div class="section__container--box-text">
                        <h3>Nombre del Producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae exercitationem neque quae, beatae vero laboriosam culpa laborum magni repellat quaerat totam.</p>
                        <input type="button" value="VER MÁS">
                    </div>
                </article>
                <article>
                    <img src="/img/img-phone-03.jpg" alt="">
                    <div class="section__container--box-text">
                        <h3>Nombre del Producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae exercitationem neque quae, beatae vero laboriosam culpa laborum magni repellat quaerat totam.</p>
                        <input type="button" value="VER MÁS">
                    </div>
                </article>
                <article>
                    <img src="/img/img-phone-01.jpg" alt="">
                    <div class="section__container--box-text">
                        <h3>Nombre del Producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae exercitationem neque quae, beatae vero laboriosam culpa laborum magni repellat quaerat totam.</p>
                        <input type="button" value="VER MÁS">
                    </div>
                </article>
                <article>
                    <img src="/img/img-phone-02.jpg" alt="">
                    <div class="section__container--box-text">
                        <h3>Nombre del Producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae exercitationem neque quae, beatae vero laboriosam culpa laborum magni repellat quaerat totam.</p>
                        <input type="button" value="VER MÁS">
                    </div>
                </article>
                <article>
                    <img src="/img/img-phone-03.jpg" alt="">
                    <div class="section__container--box-text">
                        <h3>Nombre del Producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae exercitationem neque quae, beatae vero laboriosam culpa laborum magni repellat quaerat totam.</p>
                        <input type="button" value="VER MÁS">
                    </div>
                </article>
            </div>
            <aside class="aside__container">
                <section class="aside__container--section">
                    <h2>Tutoriales</h2>
                    <div class="aside__container--section-box">
                        <div class="section-box-article">
                            <img src="/img/aside-01.jpg" alt="imagen placa">
                            <a href="#">Titulo del tutorial de reparacion</a>
                        </div>
                        <div class="section-box-article">
                            <img src="/img/aside-02.jpg" alt="imagen placa">
                            <a href="#">Titulo del tutorial de reparacion</a>
                        </div>
                        <div class="section-box-article">
                            <img src="/img/aside-03.jpg" alt="imagen placa">
                            <a href="#">Titulo del tutorial de reparacion</a>
                        </div>
                        <div class="section-box-article">
                            <img src="/img/aside-04.jpg" alt="imagen placa">
                            <a href="#">Titulo del tutorial de reparacion</a>
                        </div>
                    </div>
                </section>
                <section class="aside__container--section">
                    <h2>Publicidad</h2>
                    <div class="aside__container--section-img">
                        <img src="/img/adb-01.jpg" alt="imagen publicidad">
                        <img src="/img/adb-02.jpg" alt="imagen publicidad">
                    </div>
                </section>
            </aside>
        </div>
    </main>
</body>
</html>